<%= form_with model: @place do |form| %>
  <p>
    <%= form.label :name, "Place Name" %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :date %>
    <%= form.text_field :date %>
  </p>
  <%= form.submit %>
<% end %>