<h1><%= @place.name %></h1>
<h2><%= @entry.title %></h2>
<h3><%= @entry.posted_on %></h3>
<h4><%= @entry.description %></h4>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p><a href="/places">Back to Places</a></p>
